AUTH_USERNAME=replace-me
AUTH_PASSWORD_HASH=pbkdf2_sha256$600000$replace-me$replace-me
DEFAULT_MODELSET=hy_mt2_1_8b_q4
MODEL_ROOT=/models
HY_MT2_ENDPOINT=http://hy-mt2:8080
TRANSLATEGEMMA_ENDPOINT=http://translategemma:8080
